/*
  * Name: Sarah Poulsen
  * File: style.css
  * Date: 26 February 2024
  * For INFT 1206-02: Web Development - Fundamentals, Assignment 3, part 2 - A cool-looking box.
  */

html {
    font-family: sans-serif;
    font-size: 12px;
}

/* Your CSS below here */
div {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
}